#uploader, #secondUploader {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
    cursor: pointer;
    color: #555;
    background-color: #eee;
    font-family: 'Segoe UI';
    font-weight: bold;
}

#uploader:hover, #secondUploader:hover {
    color: #999;
    background-color: #bbb;

}

#filePhoto,#secondPhoto {
    display: none;
}

#structure {
    position: absolute;
    width: 66vw;
    border: none;
    z-index: -1;
}

p {
    text-align: center;
}

.hidden, .hidden-switch {
    display: none;
}

.border {
    border: 2px solid red;
}

.flipped {
    transform: scale(-1, 1);
}

#mainContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.schabloneContainer, .rotateContainer {
    width: 31.22542595019659vw;
    height: 25vw;
}

.lineContainer {
    width: 30px;
    height: 1px;
}

.schablone, .line {
    width: inherit;
    height: inherit;
}

.ui-resizable-s,.ui-resizable-n {
    height: 10px;
}
.ui-resizable-w,.ui-resizable-e {
    width: 10px;
}

#redLine, #greenLine {
    position:absolute;
}

#degreeOutput {
    font-size: 2em;
}

#bigInfo {
    font-size: 1.5em;
}

textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}

#modality {
    width: 100%;
    font-size: 1em;
}

#otherModality {
    width: 99%;
    display: none;
    font-size: 1em;
}

.sideLetter {
    font-size: 1.5em;
    padding: 0 22%;
    transition-duration: 0.5s;
}

.activeSide {
    background-color: #90EE90;
}